{% extends "admin_panel/layout.html" %}
{% load static %}

{% block content %}
    <div class="row settings">
        <div class="col s6 offset-m3">
            <div class="row">
                <form class="col s12">

                    <div class="row">

                        <div id="answer_id" style="display: none" data-id="{{ answer.id }}"></div>

                        <div class="input-field col s12">
                            <input type="text" name="answer_text" id="answer_text" class="validate"
                                   value="{{ answer.answer_text }}">
                            <label for="answer_text">Antwort Text</label>
                        </div>

                        <div class="row">
                            <div class="col s2 offset-m4">
                                <a href="{% url "admin_panel:admin_questions" %}" class="btn">Zurück</a>
                            </div>
                            <div class="col s2">
                                <a href="javascript:" id="saveBtnAnswer" class="btn">Speichern</a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "admin_panel/js/edit.js" %}"></script>
{% endblock %}
